@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik/static/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
}

html {
  /* 62.5% of 16px base font size is 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Rubik';
  font-size: 1.4rem; /* 14px */
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-teal-600 text-white cursor-pointer
    hover:bg-teal-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
}
